body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.top{
    color:goldenrod;
}
.forth{
    width: 50%;
    padding: 5%;
}
.forth-img{
    width: 100%;
}
.flexible-container{
    display: flex;
padding-bottom: 100px;
}
.link-button{
    background-image: linear-gradient(red,tomato);
padding: 10px 40px;
border-radius: 5px;
text-decoration: none;
font-weight: 700;
color:honeydew;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.bold{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.item{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 40px;
    box-shadow: 10px 10px 40px slategrey;
}
#second{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#first{
    border-left: 7px solid;
    border-image: linear-gradient(red,salmon);
    border-image-slice: 1;
}
footer{
    text-align: center;
}